<div class="container">
  <div class="panel panel-default" style="min-height: 500px">
    <div class="panel-heading"><h4>Panel admina{{addUser === 'patient' ? ' > Dodaj pacjenta' :
      addUser === 'employee' ? ' > Dodaj pracownika' : ' '}}

      <button (click)="back()" type="button" class="btn btn-success" *ngIf="addUser">Powrót</button>
    </h4>
    </div>
    <div class="panel-body">
      <div *ngIf="!addUser">
        <button (click)="onAddPatient()" type="button" class="btn btn-success">Dodaj pacjenta</button>
        <button (click)="onAddEmployee()" type="button" class="btn btn-success">Dodaj pracownika</button>
      </div>
      <div *ngIf="addUser">
        <registration [variant]="addUser"></registration>

      </div>
    </div>
  </div>
</div>




